* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: Oswald;
    src: url(/fonts/Oswald-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: Oswald;
    src: url(/fonts/Oswald-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url(/fonts/Oswald-Light.ttf);
    font-weight: light;
    font-style: light;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.4), transparent);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
    z-index: 2000;
}

.logo p {
    font-family: Oswald;
    font-weight: bold;
    font-size: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    padding-right: 20px;
    color: white;
}
.logo .logoimg{
    float: left;
    height: 70px;
    width: auto;
    margin-top: 10px;
    margin-left: 70px;
}
.scrolled-search{
    opacity: 1;
    pointer-events: all;
}

.menu {
    display: inline-block;

}
.menu li {
    float: left;
    margin-top: 38px;
    margin-left: 10px;
    padding: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;

    
}
.menu a{
    color: white;
    font-family: Oswald;
    font-weight: normal;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;


}
.menu a:hover{
    color: rgb(95, 210, 255);
    transition: 0.4s;

}

.slider{
    width: 100%;
    height: 800px;
    overflow: hidden;
    
}
.slider ul{
    width: 300%;
    display: flex;
    animation: slide 20s infinite alternate linear;
}
.slider li{
    width: 100%;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes slide{
    0%, 20%{margin-left: 0}
    40%, 60%{margin-left: -100%}
    80%, 100%{margin-left: -200%}
}

.slider2{
    margin-top: 20vh;
}
.slider2 video{
    width: 99.2vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.inf{
    margin-top: 20vh;
    display: grid;
    grid-template-rows: repeat(3,30%);
    height: 100vh;
    width: 100%;

}
.inf h3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: normal;
    color: white;

}
.inf p{
    padding-top:6.5vh;
    font-family: sans-serif;
    font-style: italic;
    font-size: 20px;
}
.inf1{
    padding: 3vh;
    display: grid;
    grid-template-columns: 20% 80%;
}
.inf1 img{
    height: 25vh;
    width: auto;
}
.inf2{
    padding: 3vh;
    display: grid;
    grid-template-columns: 80% 20%;
}
.inf2 img{
    padding-left: 6vh;
    height: 25vh;
    width: auto;
}
.inf2 p{
    text-align: right;
}


footer{
    margin-top: 20vh;
    bottom: 0;
    background-color: #121212;
    height: 15vh;
    width: 100%;
}

footer p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;

}

.sobrenos{
    height: 100vh;
    width: 100%;
}